/* Start of Recipes Container */

.recipes-container {
  display: grid;
  gap: 0.5rem;
  /* grid-template: repeat(autofit, minmax(240px, 1fr)) / repeat(autofit, minmax(240px,1fr)); */

  --waiting-delay: 200ms;
}

@media (min-width: 760px) {
  .recipes-container {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      "card-1 card-2"
      "card-3 card-3"
      "card-4 card-5";
  }
}

@media (max-width: 759px) {
  .recipes-container {
    grid-template: repeat(5, 1fr) / repeat(1, 1fr);
    grid-template-areas:
      "card-1"
      "card-2"
      "card-3"
      "card-4"
      "card-5";
  }
}

.recipes-container .card {
  background: transparent;
  /* width: 100%;
    height: 100%; */
  animation: cardReveal 900ms ease-out;
  animation-fill-mode: backwards;
}
@keyframes cardReveal {
  from {
    opacity: 0;
    transform: scale(0.3) rotate3d(0.01, 0.23, 0.99, 150deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate3d(0);
  }
}

.card:hover > .card-body,
.card:active > .card-body {
  backdrop-filter: blur(0);
}

.card:hover > .card-body .card-title,
.card:hover > .card-body .card-text {
  background-color: var(--black-50);
}

.card .card-title {
  font-size: clamp(1.5rem, 2vmin + 1rem, 4.5rem);
}
.card .card-body {
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card .card-body,
.card .card-title {
  color: var(--white);
  text-shadow: -3px 0 4px var(--black), 3px 0 4px var(--black),
    0 -3px 4px var(--black), 0 3px 4px var(--black);
  /* background-color: var(--light-gray); */
}

.card .card-body .modal-button {
  all: unset;
  font-size: clamp(0.75rem, 1.5vmax, 3rem);
  align-self: center;
  cursor: pointer;
  padding: 0 5px;
  background: var(--blue);
}

.card .card-body .modal-button:hover {
  transform: scale(1.25);
  background: var(--darkblue);
}

.modal .modal-body ul li, .modal .modal-body ol li{
    font-size: clamp(0.95rem, 1.75vmax + 0.5rem, 3rem);
}

.recipes-container > .card-1 {
  grid-area: card-1;
  animation-delay: calc(1 * var(--waiting-delay));
  background: url(../images/chicken_adobo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipes-container > .card-2 {
  grid-area: card-2;
  animation-delay: calc(2 * var(--waiting-delay));
  background: url(../images/ginisang_monggo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipes-container > .card-3 {
  grid-area: card-3;
  animation-delay: calc(4 * var(--waiting-delay));
  background: url(../images/strawberry_cheesecake.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recipes-container > .card-4 {
  grid-area: card-4;
  animation-delay: calc(4 * var(--waiting-delay));
  background: url(../images/crispypata.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recipes-container > .card-5 {
  grid-area: card-5;
  animation-delay: calc(5 * var(--waiting-delay));
  background: url(../images/friedrice.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-adobo {
  background: url(../images/chicken_adobo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-monggo {
  background: url(../images/ginisang_monggo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-strawberry {
  background: url(../images/strawberry_cheesecake.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-crispypata {
  background: url(../images/crispypata.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-bgfr {
  background: url(../images/friedrice.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .card > .modal {
    text-decoration: none;
    font-weight: bolder;
    font-size: 3vmin;
    color: var(--darkgreen);
  }

   .card > .modal-open:hover {
    margin: 1vmin;
    padding: 0.5vmin;
    color: var(--white);
    background: var(--darkgreen);
    border: 3px ridge var(--green);
  } */
/* @media (min-width: 780px) {
  .recipes-container > main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
      "title title title title"
      "card-1 card-1 card-1 card-2"
      "card-3 card-4 card-4 card-2"
      "card-3 card-4 card-4 card-2"
      "card-3 card-5 card-5 card-5";
    --waiting-delay: 200ms;
  }

  .recipes-container > main > .title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--purple);
    border: 10px ridge var(--darkpurple);
  }

  .recipes-container > main > .title > span {
    font-size: 6vh;
    font-weight: bolder;
    font-family: Montserrat;
    color: var(--black);
    text-shadow: -2px 0px 10px var(--white), 2px 0px 10px var(--white);
  }

  .recipes-container > main .card {
    background-color: var(--lightblue);
    padding: 0 5px;
    border: 2px solid var(--darkpurple);
    width: 100%;
    height: 100%;
    animation: cardReveal 900ms ease-out;
    animation-fill-mode: backwards;
  }
  @keyframes cardReveal {
    from {
      opacity: 0;
      transform: scale(0.3);
      filter: hue-rotate(270deg);
    }
    to {
      opacity: 1;
      transform: scale(1);
      filter: hue-rotate(0deg);
    }
  }
  .recipes-container > main > .card > p {
    font-size: 1.1vw;
  }

  .recipes-container > main > .card:hover {
    background: linear-gradient(to bottom, var(--white) 30%, var(--gray));
  }
  .recipes-container > main > .card:target {
    width: 80vmax;
    height: 60vmin;
    box-shadow: 0 0 20vmax 7vmin var(--black);
  }

  .recipes-container > main > .card > .modal {
    text-decoration: none;
    font-weight: bolder;
    font-size: 3vmin;
    color: var(--darkgreen);
  }

  .recipes-container > main > .card > .modal-open:hover {
    margin: 1vmin;
    padding: 0.5vmin;
    color: var(--white);
    background: var(--darkgreen);
    border: 3px ridge var(--green);
  }

  .recipes-container > main > .card-1 {
    grid-area: card-1;
    animation-delay: calc(1 * var(--waiting-delay));
  }
  .recipes-container > main > .card-1:target {
    transform-origin: left;
    transform: scale(1) translate(12vmax, 23vmin);
  }

  .recipes-container > main > .card-2 {
    grid-area: card-2;
    animation-delay: calc(2 * var(--waiting-delay));
  }

  .recipes-container > main > .card-2:target {
    transform-origin: right;
    transform: scale(1) translate(-35vmax, 8vmin);
  }

  .recipes-container > main > .card-3 {
    grid-area: card-3;
    animation-delay: calc(4 * var(--waiting-delay));
  }
  .recipes-container > main > .card-4 {
    grid-area: card-4;
    animation-delay: calc(5 * var(--waiting-delay));
  }
  .recipes-container > main > .card-5 {
    grid-area: card-5;
    animation-delay: calc(3 * var(--waiting-delay));
  }
  .recipes-container > main > .card-5:hover {
    /* transform-origin: bottom;
        width: 80vw;
        height: 60vh;
        transform: scale(1) translate(-11vw,-28vh);
        box-shadow: 0 0 20vw 7vw var(--black); */

/* End of Recipes Container */
